.nav_card {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  /* align-items: center; */
  color: white;
  min-height: 250px;
  padding: 4em 2.5em 3em 2.5em;
  position: relative;
  border-radius: 10px;
}

.nav_card_binder {
  background-color: white;
  width: 100%;
  height: 1em;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 10px 10px 0 0;
}

.nav_card--headline {
  font-weight: bold;
  font-size: 1.5em;
}

.nav_card--button {
  border: none;
  color: white;
  padding: 0.5em 2em;
  background: rgba(34, 89, 235, 0.8);
  border-radius: 100px;
  border: 1px solid white;
  transition: all 0.15s;
}

.nav_card--button:hover {
  padding: 1em 2.5em;
  margin: -0.5em;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
}

.move-up {
  margin-top: -3em;
  margin-bottom: 3em;
}

.blue-background {
  background: linear-gradient(
    180deg,
    rgba(34, 89, 235, 0.8) 23.5%,
    rgba(68, 114, 237, 0.8) 57%,
    rgba(110, 150, 255, 0.8) 100%
  );
}

.pink-background {
  background: linear-gradient(
    180deg,
    rgba(230, 114, 220, 0.8) 19.97%,
    rgba(239, 167, 233, 0.8) 66.69%,
    rgba(249, 201, 245, 0.8) 100%
  );
}

.yellow-background {
  background: linear-gradient(
    180deg,
    rgba(232, 209, 12, 0.8) 0%,
    rgba(244, 225, 61, 0.8) 43%,
    rgba(255, 241, 117, 0.8) 100%
  );
}

.button-blue-background {
  background: rgba(34, 89, 235, 0.8);
}

.button-pink-background {
  background: rgba(230, 114, 220, 0.8);
}

.button-yellow-background {
  background: rgba(232, 209, 12, 0.8);
}

@media (max-width: 850px) {
  .nav_card {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0;
  }

  .nav_card--button {
    padding: 0.5em 3em;
    max-width: 15em;
  }
}
