.faq-container {
  width: 80%;
  margin: 30px auto; /* Increased margin for better spacing */
  padding: 20px;
  border-radius: 10px; /* Added rounded corners */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add box shadow */
  align-items: center;
  background: linear-gradient(
    180deg,
    rgba(34, 89, 235, 0.8) 23.5%,
    rgba(68, 114, 237, 0.8) 57%,
    rgba(110, 150, 255, 0.8) 100%);
  font-weight: bold;
  font-family: "Jaldi", sans-serif;
  font-size: 1.15rem;

}

.faq-list {
  list-style: none;
  padding: 0;
  background-color: white;
  justify-content: center;
  padding: 10px;
  
}

.faq-item {
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  transition: background-color 0.3s ease; /* Added background transition */
  padding: 10px;
}

.faq-item:hover {
  background-color: #8faaf5; /* Light gray background on hover */
  opacity: 80%;
}

.faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 15px 0; /* Added padding for better spacing */
}

.faq-question h3 {
  margin: 0;
  font-weight: 500; /* Slightly bolder question text */
}

.faq-icon {
  font-size: 24px; /* Increased icon size */
  font-weight: bold;
  transition: transform 0.3s ease; /* Added icon rotation transition */
}

/* .faq-item.active .faq-icon {
  transform: rotate(45deg); /* Rotate icon when active */


.faq-answer {
  padding: 10px 0 15px 0; /* Adjusted padding for better spacing */
  overflow: hidden; /* Hide answer overflow during transition */
  max-height: 0; /* Initially collapse the answer */
  transition: max-height 0.3s ease; /* Added smooth height transition */
}

.faq-item.active .faq-answer {
  max-height: 200px; /* Set a max-height for the answer when open */
}


.introduction {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 10em;
  
  border-radius: 10px;
  justify-content: center;
  color: white;
}

.introduction img{
  width: 30%;
  margin-right: 20px;
  margin-left: 100px;
}

.introduction p{
  width:70%;
}
